# PostgreSQL
POSTGRES_DB=streetshop
POSTGRES_USER=streetshop_admin
POSTGRES_PASSWORD=CHANGE_ME

# JWT
JWT_SECRET=CHANGE_ME_512_BITS
JWT_EXPIRATION=86400000

# Stripe
STRIPE_API_KEY=sk_test_CHANGE_ME

# Brevo
BREVO_API_KEY=xkeysib-CHANGE_ME

# Cloudinary
CLOUDINARY_CLOUD_NAME=dpsfipegh
CLOUDINARY_API_KEY=546217869734844
CLOUDINARY_API_SECRET=CHANGE_ME

# Frontend
REACT_APP_API_URL=http://localhost:8080